#form {
	width: 67.4%;
	height: 15.5vh;
	border-radius: 5px;
	background-color: #fbfbfb;
	box-shadow: 2px 4px 5px 0px rgba(0, 0, 0, 0.05);	
  display: flex;
}

.shape-background {
  width: 308px;
  height: 15.4vh;
  background-image: url('../assets/Pentagon.png');
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-text {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 17.6vw;
  height: 6.6vh;
  font-family: Roboto;
  color: #ffffff;
  line-height: 24px;
  font-size: 28px;
  font-weight: 700;
}

.form-text h6 {
  font-size: 1rem;
}

.form-text-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 1%;
}

.form-text-2 p, span {
  margin-top: 13px;
  width: 34.5vw;
  height: 3.2vh;
  font-family: Roboto;
  font-size: 19.23px;
  font-weight: 700;
  color: #6d6e70;
  transform: scale(1.144,1.144);
}

span {
  color: #8bc540;
}

.input-fields {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-text-2 p {
  text-align: center;
}

.form-text-2 input {
  width: 13vw;
  height: 4.9vh;
  margin-right: 10px;
  border-radius: 3px;
  background-color: rgba(36, 49, 90, 0);
}

.form-text-2 button {
  color: white;
  width: 15.3vw;
  height: 5vh;
  background-color: #8bc540;
}

.form-text-2 button:hover {
  transform: scaleY(1.066);
}



